    valine: {{ page.valine|safedump if page.valine else "true"  }},
    waline: {{ page.waline|safedump if page.waline else "true"  }},
    gitalk: {{ page.gitalk|safedump if page.gitalk else "true"  }},{%- endif %}
    {%- if page.comment !== false  %}
    waline: {{ page.waline|safedump if page.waline else "true"  }},{%- endif %}
    {%- if page.chart %}chart: true,{%- endif %}
